body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: white;
  border-bottom: solid;
  border-width: 2px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
background-color: white;
}

.subnav-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.test{
  padding:7px;
  float:right;
  margin-right: 20px;
}

#main h1{
  padding:10px;
  text-align: center;
}
.navbar img{
  margin-left:30px
}
#main p {
  padding:20px;
}


.destinos{
  padding:20px;
  text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.destinos img{
  padding:15px;
}

.destinos .container {
  float: left;
  width: 33.33%;
  position: relative;
}

.destinos .container h4 {
    width:255px;
    height:31px;
    color:white;
    display: block;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.33);
    padding-top: 10px;
}


.pgwSlider {
	height:484px;
}

.info{
  padding:20px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.info .container {
  float: left;
  width: 33.33%;
  position: relative;
}

.info img{
  padding:20px;
  float:left;
}

.info .container h4 {
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.prefeitol{
  width:57%;
  float:left;
  padding:20px;
}

.prefeitol img{
  width:100%
}

.prefeitor{
  width:37%;
  float: right;
  padding:20px;
}

.prefeitotabela{
  margin: 0 20px 40px 20px;
  padding:20px;
  float:left;
}
.prefeitotabela table, th, td {
  border-collapse: collapse;
}
.prefeitotabela th, td {
  padding: 5px;
}
.prefeitotabela table {
  border-collapse: collapse;
}
.prefeitotabela table td {
  border: 1px solid black;
  border-top: 0;
}
.prefeitotabela table tr:first-child td {
  border-top: 0;
}
.prefeitotabela table tr td:first-child {
  border-left: 0;
}
.prefeitotabela table tr:last-child td {
  border-bottom: 0;
}
.prefeitotabela table tr td:last-child {
  border-right: 0;
}
.prefeitotabela table tr:first-child {
  background-color: #2d78beb3;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip img{
  width:15px;
}
